<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/application.css">
	</head>
	<body>
		<div class="container">
			<h1>Welcome to Bowling!</h1>

			<form class="button" action="/" method="POST">
				<input type="submit" value="Start Game!">
			</form>

			<div class="game">
				<% @frames.each_with_index do |frame, index| %>
					<% if frame.bonus %>
						<div class="frame">
							<div class="header"><%= index + 1 %></div>
							<div class="roll"></div>
							<div class="border"></div>
							<div class="roll"></div>
							<div class="border"></div>
							<div class="roll"></div>
							<div class="score"></div>
						</div>
					<% else %>
						<div class="frame">
							<div class="header"><%= index + 1 %></div>
							<div class="roll"></div>
							<div class="border"></div>
							<div class="roll"></div>
							<div class="score"></div>
						</div>
					<% end %>
				<% end %>
			</div>

			<form class="button" action="/roll" method="POST">
				<input type="submit" value="Roll!">
			</form>

		</div>
	</body>
</html>