.container {
  margin: 20px auto;
  width: 700px;
  padding: 0px 20px 20px 20px;
}

.game {
	border-left: 2px solid black;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	float: left;
}

.frame {
	border-right: 2px solid black;
	float: left;
}

.header {
	height: 24px;
	border-bottom: 2px dotted black;
	clear: left;
	text-align: center;
}

.roll {
	width: 30px;
	height: 24px;
	float: left;
	text-align: center;
}

.border {
	height: 24px;
	border-right: 2px dotted black;
	float: left;
}

.score {
	height: 24px;
	border-top: 2px dotted black;
	clear: left;
	text-align: center;
}